/* --------
font link
------------*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&family=Poppins:wght@100;200;600&display=swap");

/* --------
Header font styles
------------*/

body {
  font-family: "Poppins", sans-serif;
}
.nav-item a {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #646464 !important;
}

.carousel-item {
  border-radius: 10px;
  overflow: hidden;
}
/* --------
For image overlay
------------*/
.dark::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.6;
}

.carousel-caption {
  z-index: 12;
  bottom: 92px;
}

.carousel-caption h1 {
  font-weight: 600;
  font-size: 65px;
  line-height: 85px;
}

/* --------
Media queries for just fonts and carousel
------------*/

@media only screen and (max-width: 767px) and (min-width: 350px) {
  .carousel-item img {
    height: 500px;
    object-fit: cover;
  }
  .carousel-caption {
    bottom: -13px;
  }
  .carousel-caption h1 {
    font-size: 45px;
    line-height: 60px;
  }
  .course-img {
    width: 100%;
  }
  .course-img img {
    width: 100%;
    object-fit: contain;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 768px) {
  .carousel-item img {
    height: 500px;
    object-fit: cover;
  }
  .carousel-caption {
    bottom: 35px;
  }
}
